@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
  font-family: 'Inter', system-ui, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: #333;
  /* background: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Para que el fondo permanezca fijo al hacer scroll */
}

/* Ajustes adicionales para pantallas más pequeñas */
@media (max-width: 768px) {
  body {
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  }
}

@media (max-width: 480px) {
  body {
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  }
}

